<!DOCTYPE html>
<html ng-app="AngularUpload" ng-controller="MainController">

<head>
  <!-- Style/Other -->
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel='stylesheet' href='/bower_components/angular-loading-bar/src//loading-bar.css' type='text/css' media='all' />
  <link href="favicon\favicon.ico" rel="icon" type="image/x-icon" />
  <!-- Library Scripts -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-base64/angular-base64.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-loading-bar/src/loading-bar.js"></script>
  <!-- Application Scripts -->
  <script src="app.js"></script>
  <!-- Services -->
  <script src="services/uploadservice.js"></script>
  <script src="services/filterservice-filter.js"></script>
  <!-- Product Controllers -->
  <script src="MainController.js"></script>
</head>

<body>

  <div>
    <div class="container">
      <h1> Angular upload with AngularBase64</h1>
      <h4> Select a file </h4>
      <div>
        <form name="myform">
          <input type="file" name="myfield" onchange="angular.element(this).scope().encodeFile()">
      </div>
      <br>
      <b>File Value:</b>
      <table class="table table-bordered table-striped">
        <tr>
          <th>filename</th>
          <th>filetype</th>
          <th>filesize</th>
          <th>base64</th>
        </tr>
        <tr ng-show="file">
          <td>{{file.name}}</td>
          <td>{{file.type}}</td>
          <td>{{file.size | filterservice}}</td>
          <td><textarea>{{encodedFile.substring(0, 30)}}</textarea></td>
        </tr>
        <tr>
          <td colspan="4" ng-show="!file">
            <small><i>No file selected.</i></small>
          </td>
        </tr>
      </table>
      </form>

      <h4> Place a text </h4>
      <form ng-submit="encodeTextFile(text)">
        <input type="search" placeholder="Encode text" ng-model="text" />
        <input type="submit" value="Encode" />
      </form>
      <br>
      <b>Text Value:</b>
      <table class="table table-bordered table-striped">
        <tr>
          <th>text</th>
          <th>filetype</th>
          <th>base64</th>
        </tr>
        <tr ng-show="text">
          <td>{{text}}</td>
          <td>text/plain</td>
          <td>{{encodedText.substring(0, 30)}}</td>
        </tr>
        <tr>
          <td colspan="4" ng-show="!text">
            <small><i>No textFile selected.</i></small>
          </td>
        </tr>
      </table>
      <input type="submit" value="Upload" ng-disabled="!file" ng-click="upload()" />
      <div ng-show="errors">
        <h1>Sorry! There was an error!</h1>
        <p>{{ message }}</p>
      </div>
      <div style="font-size:large">
        <br> List of products in the Web API
      </div>
      <div id="loading-bar-container">
        <table class="table">
          <p>Search for a file: <input type="text" ng-model="search.filename" /></p>
          <thead>
            <tr>
              <td>Filename</td>
              <td>Filetype</td>
              <td>Filesize</td>
              <td>Base-64</td>
              <td>Uploaded date</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="file in files | orderBy: 'releaseDate'| filter:search ">
              <td>{{ file.filename}}</td>
              <td>{{ file.fileType }}</td>
              <td>{{ file.fileSize | filterservice }}</td>
              <td><textarea>{{file.base64.substring(0, 30)}}</textarea></td>
              <td>{{ file.releaseDate| date : "medium" }}</td>
              <td><a class="btn" ng-click="downloadFile(file.filename,file.fileType,file.base64)">Download</a></td>
              <td><a class="btn" ng-click="deleteFile(file.id)">Delete</a></td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>

  </div>
</body>

</html>