/* Styles go here */

body {
    padding-top: 30px;
    margin: 0;
}

.loader {
    background-color: #00b332;
    height: 10px;
    left: 379px;
    position: absolute;
    top: 150px;
    transition: width 10s ease-out;
    width: 60%;
}

.loader.ng-enter {
    transition: width .3s ease-out;
    width: 1%;
}

.loader.ng-enter-active {
    width: 100px;
}

.loader.ng-leave {
    transition: width .2s ease;
    width: 100px;
}

.loader.ng-leave-active {
    width: 1140px;
}